
body{
  width: fit-content;
  height: 100px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.button {
    height: fit-content;
    width: fit-content;
    border: none;
    margin: 3px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
  }
  
  .button1 {
    background-color: #E8F3FF; 
    color: #3489FF;
  }
  
  .button1:active {
    background-color: #3489FF;
    color: white; 
  }
  