html {
  font-family: 'system-ui', 'Helvetica', sans-serif;
}

body{
  width: fit-content;
  height: 100px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}


.button {
  width: 140px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  background-color: #E64626;
  transition: all 0.2s ease-in-out;
  user-select: none;
  box-shadow: none;
  border-style: none;
}

.button:active {
  background-color: darkred;
}