html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 250px;
}

.switch_box {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #FFDED9;
}

img {
    width: 100%;
}

#topic {
    height: 20px;
    color: #e64626;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.preview_box {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.preview_img {
    width: auto;
    height: 20%;
    opacity: 70%;
    cursor: pointer;
}

.preview_img:nth-of-type(1) {
    opacity: 100%;
}

.preview_img:hover {
    opacity: 100%;
}


