body {
  margin: 0 !important;
  font-family: "system-ui", "Helvetica", sans-serif;
  color: #39393B;
}

.container {
  width: 100%;
}

/* Style the tab */
.tab {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  width: 33.3%;
  background-color: transparent;
  float: left;
  /* Cancel the original button style */
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  border-bottom: 2px solid #E3E5E8;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e64626;
  color: white;
}

/* Create an active/current tablink class with an oval-shaped highlight */
.tab button.active {
  color: #e64626;
  border-bottom: 2px solid #e64626;
}

.tab button.active:hover {
  background-color: white;
  color: #e64626;
  border-bottom: 2px solid #e64626;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  display: none;
  margin-top: 0;
  padding: 8px 0px;
  position: relative;
}

/* Style the title, and let the title hidden with dots at the end when overflow*/
.titles {
  margin-top: 15px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

/* Style the publish time, share times information content */
.information {
  color: #bbb;
  font-size: 12px;
}