html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 30px;
    padding: 0 5px 0 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

.alert_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: #D5FDE1;
    border-radius: 5px;
}

svg {
    width: 15px;
    height: 15px;
}

.icon {
    margin-right: 5px;
}

.success {
    color: #155427;
    background-color: #ECFEF2;
}
