html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

select {
    min-width: 150px;
    padding: 10px;
    border: #C7CBD2 1px solid;
    border-radius: 5px;
    font-weight: 600;
}

