html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

select {
    padding: 10px;
    border: #FFDED9 1px solid;
    background-color: #FFDED9;
    color: #910D02;
    border-radius: 8px;
    font-weight: 600;
}

select:focus-visible {
    outline-color: #910D02;
}
