html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 350px;
}

.switch_box {
    position: relative;
    width: 100%;
    height: fit-content;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFDED9;
}

img {
    width: 100%;
    height: 281px;
}

#topic {
    height: 30px;
    color: #e64626;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 60px;
    border: none;
    cursor: pointer;
    opacity: 80%;
}

button:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:hover {
    background-color: #FFDED9;
}

.circle_box {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch_circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #d7d6d6;
    margin: 0 5px;
    cursor: pointer;
    opacity: 90%;
}

.switch_circle:nth-of-type(1) {
    background-color: #e64626;
}

.switch_circle:hover {
    background-color: #e64626;
}
