* {
  margin: 0;
  padding: 0;
  font-family: 'system-ui', 'Helvetica', sans-serif;
}

body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  border-radius: 7px;
  background-color: #f1f1f1;
  color: #424242;
  text-align: center;
  padding: 6px 10px;
  font-size: 13px;

  position: absolute;
  z-index: 1;
  top: 40px;
}

.tooltip .tooltiptext::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #f1f1f1 transparent;
  left: 64px;
  top: -5px;
}

.tooltip:hover {
  cursor: pointer;
}
