body {
    font-family: 'system-ui', 'Helvetica', sans-serif;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.ochre-tag,
.charcoal-tag,
.grey-tag,
.sandstone-tag,
.rose-tag,
.jacaranda-tag,
.navy-tag {
    font-size: 12px;
    font-weight: 500;
    margin-right: 8px;
    padding: 2px 10px;
    border-radius: 4px;
}

.ochre-tag {
    background-color: #e64626;
    color: #ffffff;
}

.charcoal-tag {
    background-color: #414143;
    color: #ffffff;
}

.grey-tag {
    background-color: #e6e7e9;
    color: #414143;
}

.sandstone-tag {
    background-color: #fbede2;
    color: #000000;
}

.rose-tag {
    background-color: #d9a8a3;
    color: #000000;
}

.jacaranda-tag {
    background-color: #8f9ec9;
    color: #000000;
}

.navy-tag {
    background-color: #1a365e;
    color: #ffffff;
}