body{
  width: fit-content;
  height: 310px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.calendar {
  /* width: 280px;
  height: 160px; */
  width: fit-content;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Set the color for odd rows */
table tr:nth-child(odd) {
  background-color: #f2f2f2; 
}

/* Set the color for even rows */
table tr:nth-child(even) {
  background-color: #e0e0e0; 
}

td {
  height: 10px;
  width: 10px;
  padding: 10px;
  text-align: center;
}

td:hover {
  background-color: #fff;
}
