body{
  width: fit-content;
  height: 310px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.calendar {
  /* width: 280px;
  height: 160px; */
  width: fit-content;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #eee;
}

td:hover {
  background-color: #e0e0e0;
}
