html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 450px;
}

.switch_box {
    position: relative;
    width: 100%;
    height: fit-content;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFDED9;
}

img {
    width: 100%;
    height: 281px;
}

#topic {
    height: 30px;
    color: #e64626;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 60px;
    border: none;
    cursor: pointer;
    opacity: 70%;
}

button:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:hover {
    background-color: #FFDED9;
}

.preview_box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.preview_img {
    width: 20%;
    height: auto;
    opacity: 70%;
    cursor: pointer;
}

.preview_img:nth-of-type(1) {
    opacity: 100%;
}

.preview_img:hover {
    opacity: 100%;
}


