html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

label {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #A2A2A2 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#fileName {
    margin-top: 15px;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
