
body{
  width: fit-content;
  height: 100px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.button {
    height: fit-content;
    width: fit-content;
    border: none;
    margin: 5px;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
  }
  
  .button1 {
    background-color: #E8F3FF; 
    color: #3489FF;
  }
  
  .button1:hover {
    background-color: #3489FF;
    color: white; 
  }
  
  .button2 {
    background-color: #EDF9E6; 
    color: #58BA2D;
  }
  
  .button2:hover {
    background-color: #58BA2D;
    color: white; 
  }
  
  .button3{
    background-color: #FEEBEC; 
    color: #EF5459;
  }

  .button3:hover{
    background-color: #EF5459; 
    color: #fff;
  }

  .button4{
    background-color: #FDF4E7; 
    color: #E0912E;
  }

  .button4:hover{
    background-color: #E0912E; 
    color: #fff;
  }