
body{
  width: 400px;
  height: 100px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.button {
  width: 70px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  box-shadow: none;
  font-family: 'system-ui', 'Helvetica', sans-serif;
  margin: 5px;
  border-style: none;
}
  
  .button1 {
    background-color: #D4A09D; 
    color: black;
  }
  
  .button1:hover {
    background-color: rgb(202, 152, 149);
    color: black;
  }
  
  .button2 {
    background-color: #8996C7; 
    color: black;
  }
  
  .button2:hover {
    background-color: #a2b1ea;
    color: black; 
  }
  
  .button3{
    background-color: #152F58; 
    color: white;
  }

  .button3:hover{
    background-color: #1e4480; 
    color: #fff;
  }

  .button4{
    background-color: #6CA090; 
    color: #fff;
  }

  .button4:hover{
    background-color: #86c6b3; 
    color: #fff;
  }