
body{
  width: fit-content;
  height: 100px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.button {
    height: fit-content;
    width: fit-content;
    border: none;
    margin: 3px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
  }
  
  .button2 {
    background-color: #EDF9E6; 
    color: #58BA2D;
  }
  
  .button2:hover {
    background-color: #58BA2D;
    color: white; 
  }
  