html {
  font-family: 'system-ui', 'Helvetica', sans-serif;
}

body {
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.page-btn {
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-btn:hover {
  background-color: #f0f0f0;
}

.page-btn.active {
  background-color: #DD3518;
  color: #fff;
}
