html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert_box {
    width: 400px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.success {
    color: #58BA2D;
    background-color: #EDF9E6;
}

.info {
    color: #7E8087;
    background-color: #F1F1F2;
}

.warning {
    color: #DE912F;
    background-color: #FCF4E7;
}

.error {
    color: #F05459;
    background-color: #FDECEC;
}

