html {
  font-family: "Inter", sans-serif;
  background-color: #1d1d1d;
}

body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #1d1d1d;
  margin: 0;
}

.container {
  position: relative;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #1d1d1d;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  color: rgb(32, 32, 32);
  padding: 7.5px;
  padding-top: 0;
  padding-bottom: 3px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  background-color: rgb(210, 210, 210);
}

.close:hover {
  background-color: rgb(190, 190, 190);
}

.close:active {
  background-color: rgb(210, 210, 210);
}

.image {
  height: 50px;
  overflow: hidden;
  user-select: none;
}

.image img {
  height: 100%;
}

.text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.first-line {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  user-select: none;
}

.second-line {
  font-size: 14px;
  color: rgb(107, 114, 128);
  margin-top: 10px;
  font-weight: 500;
  user-select: none;
}

.input {
  height: 35px;
  margin-top: 10px;
  border-radius: 7px;
  font-size: 14px;
  border: 1px solid #979797;
  outline: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ededed;
  font-family: "Inter", sans-serif;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input:focus {
  outline-width: 0;
  border: 1px solid rgb(249, 115, 22);
  outline: 1px solid rgb(249, 115, 22);
  transition: all 0.2s ease-in-out;
}

.button-group {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
}

.cta,
.model {
  width: 120px;
  height: 35px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(249, 115, 22);
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.cta {
  width: 100%;
}

.model {
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 17.5px);
  z-index: 1;
}

.cta:hover,
.model:hover {
  background-color: rgb(249, 115, 22, 0.8);
}

.cta:active,
.model:active {
  background-color: rgb(249, 116, 22);
}

/* ==================== */

.show {
  display: flex !important;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
}
