
body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-link {
  font-weight: 500;
  color: #3b82f6;
  font-size: 1rem;
  text-decoration: none; /* remove underline to make it clean */
}

.styled-link:hover {
  text-decoration: underline; 
  cursor: pointer; /* change cursor to pointer on hover to indicate clickability */
}

@media (prefers-color-scheme: dark) {
  .styled-link {
    color: #34d399;
  }
}

/* Adding a focus style to enhance usability for keyboard users */
.styled-link:focus {
  outline: 2px solid #34d399; /* or another high contrast color */
}


