html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 350px;
}

.switch_box {
    position: relative;
    width: 100%;
    height: fit-content;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFDED9;
}

img {
    width: 100%;
    height: 200px;
}

#topic {
    height: 30px;
    color: #910D02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.circle_box {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch_circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #d7d6d6;
    margin: 0 5px;
    cursor: pointer;
    opacity: 90%;
}

.switch_circle:nth-of-type(1) {
    background-color: #910D02;
}

.left_switch {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.right_switch {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
}
