html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

select {
    padding: 10px;
    border: #F1F1F1 1px solid;
    background-color: #F1F1F1;
    color: #2F3031;
    border-radius: 8px;
    font-weight: 600;
}

select:focus-visible {
    outline-color: #e64626;
}
