html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 250px;
}

.switch_box {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
}

#content_box {
    position: absolute;
    left: -400px;
    top: 0;
    display: flex;
    flex-direction: row;
}

img {
    width: 400px;
    height: 200px;
}

.left_switch {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.right_switch {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
}

.circle_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch_circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #d7d6d6;
    margin: 0 5px;
    cursor: pointer;
    opacity: 90%;
}

.switch_circle:nth-of-type(1) {
    background-color: #e64626;
}
