html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_img img {
    width: 100%;
}

.content_box {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    padding: 20px;
}

.general_section, .rank_section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.general_section p1 {
    font-size: 40px;
    margin: 5px 0;
}

.general_section p2 {
    font-size: 25px;
    margin: 5px 0;
    font-family: "Times New Roman";
}

.general_section p3 {
    font-size: 20px;
    margin: 10px 0;
}

.general_section p4 {
    font-size: 15px;
    margin: 15px 0;
}

.rank_section p1, .table_section p1 {
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0 30px 0;
}

.rank_section p2 {
    font-size: 16px;
    margin-bottom: 30px;
}

.rank_box .title {
    font-weight: 400;
    font-size: 14px;
}

.rank_table .table_title {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 15px;
    padding-bottom: 20px;
}

.rank_table .table_row {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    border-top: 1px solid black;
}

.rank_table .table_row > :nth-child(1) {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .rank_box {
        width: 100%;
        height: fit-content;
        border-top: 4px solid black;
        padding: 20px 0;
    }

    .rank_box .number {
        font-weight: 400;
        font-size: 50px;
        color: #e64626;
    }

    .table_section {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .rank_table {
        background-color: #e64626;
        width: 100%;
        height: fit-content;
        padding: 25px;
        box-sizing: border-box;
    }

    .display_box {
        width: 100%;
        margin-top: 30px;
    }

    .display_box p1 {
        font-size: 22px;
        font-weight: 400;
    }

    .description_box .title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .description_box .content {
        font-size: 14px;
    }

    .click_box {
        width: 100%;
        display: flex;
        align-items: start;
        background-color:#EDEDED;
        padding: 25px 15px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .description_box {
        width: 50%;
    }

    .MBA {
        width: 48%;
        margin-right: 20px;
    }

    footer {
        width: 100%;
        padding: 40px 0;
        box-sizing: border-box;
        background-color: #1A1A1A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
    }

    footer img {
        height: 60px;
        margin: 40px 0;
    }

    footer div {
        color: white;
        font-size: 14px;
    }

    footer .icon_box {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 40px 0;
        margin-bottom: 30px;
        border-bottom: white 1px solid;
    }

    footer .icon_box svg {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        fill: white;
        cursor: pointer;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .rank_box {
        width: 100%;
        height: fit-content;
        border-top: 4px solid black;
        padding: 20px 0;
    }

    .rank_box .number {
        font-weight: 400;
        font-size: 80px;
        color: #e64626;
    }

    .table_section {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .rank_table {
        background-color: #e64626;
        width: 100%;
        height: fit-content;
        padding: 25px;
        box-sizing: border-box;
    }

    .display_box {
        width: 100%;
        margin-top: 30px;
    }

    .display_box p1 {
        font-size: 22px;
        font-weight: 400;
    }

    .description_box .title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .description_box .content {
        font-size: 14px;
    }

    .click_box {
        width: 100%;
        display: flex;
        align-items: start;
        background-color:#EDEDED;
        padding: 25px 15px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .description_box {
        width: 50%;
    }

    .MBA {
        width: 48%;
        margin-right: 20px;
    }

    footer {
        width: 100%;
        padding: 40px 0;
        box-sizing: border-box;
        background-color: #1A1A1A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
    }

    footer img {
        height: 60px;
        margin: 40px 0;
    }

    footer div {
        color: white;
        font-size: 14px;
    }

    footer .icon_box {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 40px 0;
        margin-bottom: 30px;
        border-bottom: white 1px solid;
    }

    footer .icon_box svg {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        fill: white;
        cursor: pointer;
    }
}

@media screen and (min-width: 1201px) {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .rank_box {
        width: 48%;
        padding: 20px 0;
        border-top: 4px solid black;
    }

    .rank_box .number {
        font-weight: 400;
        font-size: 80px;
        color: #e64626;
    }

    .table_section {
        width: 100%;
        height: fit-content;
    }

    .table_section .row {
        margin-top: 30px;
    }

    .rank_table {
        background-color: #e64626;
        width: 50%;
        height: fit-content;
        padding: 25px;
        box-sizing: border-box;
    }

    .display_box {
        width: 50%;
        margin-top: 30px;
        padding: 10px;
    }

    .display_box p1 {
        font-size: 24px;
        font-weight: 400;
    }

    .description_box .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .description_box .content {
        font-size: 16px;
    }

    .click_box {
        width: 100%;
        display: flex;
        align-items: start;
        background-color:#EDEDED;
        padding: 25px 15px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .description_box {
        width: 50%;
    }

    .MBA {
        width: 48%;
        margin-right: 20px;
    }

    footer {
        width: 100%;
        padding: 40px 0;
        box-sizing: border-box;
        background-color: #1A1A1A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
    }

    footer img {
        height: 60px;
        margin: 40px 0;
    }

    footer div {
        color: white;
        font-size: 14px;
    }

    footer .icon_box {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 40px 0;
        margin-bottom: 30px;
        border-bottom: white 1px solid;
    }

    footer .icon_box svg {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        fill: white;
        cursor: pointer;
    }
    .row {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


