html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 300px;
}

.slide_box {
    width: 100%;
    height: 300px;
}

.content_box {
    width: 100%;
    height: 80%;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.word_box {
    width: 90%;
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#words {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 500;
}

#author {
    color: #e64626;
    font-weight: 450;
}

svg {
    width: 20px;
    height: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 60px;
    border: none;
    cursor: pointer;
}

button:nth-of-type(1) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:nth-of-type(2) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:hover {
    background-color: #FFDED9;
}

.switch_box {
    width: 100%;
    height: 20%;
    background: #D5D5D5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.switch_circle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #ADADAD;
    margin: 0 5px;
    cursor: pointer;
}

.switch_circle:nth-of-type(1) {
    background-color: #e64626;
}

.switch_circle:hover {
    background-color: #e64626;
}

