html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert_box {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.title_line {
    height: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 450;
    margin-bottom: 3px;
}

.description {
    font-size: 12px;
    font-weight: 350;
    margin-left: 28px;
}

.action_box {
    margin-top: 15px;
}

button {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #D5FDE1;
}

.success {
    color: #155427;
    background-color: #ECFEF2;
}
