body {
  margin: 0 !important;
  font-family: "system-ui", "Helvetica", sans-serif;
  color: #39393B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 402px;
}

.tab {
  width: 402px;
  overflow: hidden;
  background-color: #fff;
}

.tab button {
  width: 134px;
  background-color: transparent;
  float: left;
  /* Cancel the original button style */
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  border-bottom: 2px solid #E3E5E8;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e64626;
  color: white;
}

/* Create an active/current tablink class with an oval-shaped highlight */
.tab button.active {
  color: #e64626;
  border-bottom: 2px solid #e64626;
}

.tab button.active:hover {
  background-color: white;
  color: #e64626;
  border-bottom: 2px solid #e64626;
}

.tabcontent {
  width: 401px;
  display: none;
  margin-top: 0;
  padding: 0;
  position: relative;
}

.titles {
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 14px;
  /* Let the title hidden with dots at the end when overflow */
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

.information {
  color: #bbb;
  font-size: 12px;
  margin-top: 6px;
}