body {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'system-ui', 'Helvetica', sans-serif;
}

.styled-link {
    font-weight: 500;
    color: #e64626;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.styled-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.styled-link:focus {
    outline: 2px solid #79a69a;
}

.styled-link .link-icon {
    margin-left: 8px;
    transition: transform 0.3s;
}

.styled-link:hover .link-icon {
    transform: translateX(5px);
}

@media (prefers-color-scheme: dark) {
    .styled-link {
        color: #79a69a;
    }
}