html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 35px;
    position: absolute;
    top: 20px;
    padding: 0 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade_in {
    animation: fadeIn 0.5s ease-in-out;
}

svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.hidden {
    display: none;
}

button {
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 40px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #C7CBD3;
    font-weight: 600;
    font-size: 12px;
}

.warning {
    color: #8E4F0A;
    background-color: #FEFCE3;
}

