body {
  margin: 0 !important;
  font-family: "system-ui", "Helvetica", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #fff;
}

.topnav {
  position: fixed;
  top: 0;
  background-color: white;
  overflow: hidden;
  width: 500px;
  height: 56px;
}

.logo {
  float: left;
  width: 85px;
  padding: 13px 0px 14px 20px;
}

.navigation-container {
  width: fit-content;
  height: 100%;
  float: right;
  margin: 0;
}

.topnav li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 10px;
  line-height: 30px;
  text-decoration: none;
  font-size: 12px;
}

.topnav a:hover {
  background-color: #e64626;
  color: white;
  border-bottom: 2px solid #e64626;
}

.topnav a.active {
  border-bottom: 2px solid #e64626;
}