* {
  margin: 0;
  padding: 0;
  font-family: 'system-ui', 'Helvetica', sans-serif;
}

body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 10px;
  width: 80px;
  border-radius: 7px;
  background-color: #f1f1f1;
  color: #424242;
  text-align: center;
  padding: 4px 6px;
  font-size: 10px;

  position: absolute;
  z-index: 1;
  left: 150%;
}

.tooltip .tooltiptext::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 4px 0;
  border-color: transparent #f1f1f1 transparent transparent;
  left: -3px;
  bottom: 6px;
}

.tooltip:hover {
  cursor: pointer;
}
