html {
    font-family: 'system-ui', 'Helvetica', sans-serif;
  }

body {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 500px;
}

.toast {
    position: fixed;
    font-size: small;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.closeToast {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}


button {
  width: 140px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  background-color: #E64626;
  transition: all 0.2s ease-in-out;
  user-select: none;
  box-shadow: none;
  border-style: none;
}

button:hover {
  background-color: darkred;
}
