
body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #eee;
  transition: background-color 0.3s ease-in-out; /* Added background transition */
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #555;
  border-radius: 50%; /* Rounded shape */
  transition: all 0.3s ease-in-out; /* Apply transition to all properties */
}

.custom-checkbox:checked ~ .checkmark {
  background-color: #f97316;
  border-color: #fff;
  transform: rotate(90deg); /* Rotate when checked */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox:focus-visible ~ .checkmark {
  box-shadow: 0 0 0 3px #FFC0CB;
}
