* {
  margin: 0;
  padding: 0;
  font-family: 'system-ui', 'Helvetica', sans-serif;
}

body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  align-self: flex-start;
  text-indent: 45px;
  margin-bottom: 10px;
  font-size: 10px;
}

.container {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  width: 200px;
  height: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 6px;
  border: 1px solid rgb(209 213 219);
  outline: 1px solid transparent;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  color: #050506;
  width: 177px;
}

.search-bar button {
  border-radius: 5px;
  background: white;
  cursor: pointer;
  border: 1px solid rgb(209 213 219);
  color: #9da3b1;
  font-size: 10px;
  padding: 3px;
}

.search-bar:focus-within {
  outline-width: 0;
  border: 1px solid #e64626;
  outline: 1px solid #e64626;
}
