html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    height: 300px;
}

.slide_box {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    background-color: #EFEFEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_word_click {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.next_word_click {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.content_box {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

#words {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5px;
}

#author {
    color: #e64626;
    font-weight: 450;
}

.switch_box {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.switch_circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ADADAD;
    margin: 0 5px;
}

.switch_circle:nth-of-type(1) {
    background-color: #e64626;
}

.switch_circle:hover {
    background-color: #e64626;
}

