* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0 !important;
}

h2 {
  margin-bottom: 0px;
  margin-top: 25px;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  cursor: pointer;
}

ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
}

select {
  /* color: white; */
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 100%;
  padding: 2px;
  font-size: 13px;
  max-width: 195px;
}

select option {
  /* color: white; */
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 195px;
}

#menu {
  text-align: right;
  width: 76%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 24%;
  font-size: 13px;
  color: black;
}

.thin {
  font-weight: 400;
  font-size: 10px;
}

.small {
  font-size: 12px;
  font-size: 0.8rem;
}

.half-input-table {
  border-collapse: collapse;
  width: 100%;
}

.half-input-table td:first-of-type {
  border-right: 10px solid white;
  width: 50%;
}

.window {
  height: 550px;
}

.wrapper {
  border-radius: 14px;
  display: flex;
  width: 95%;
  height: 90%;
  transform: translate(20px, 20px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

.order-info {
  height: 100%;
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  border-right: 1px dashed #ccc;
}

.price {
  bottom: 0px;
  position: absolute;
  right: 0px;
  color: #2563ea;
  font-size: 10px;
}

#row {
  display: flex;
  padding: 8px;
}

#r {
  display: flex;
  align-items: center;
}

.order-table td:first-of-type {
  width: 25%;
}

.order-table {
  position: relative;
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ddd;
}

.order-table td:last-of-type {
  vertical-align: top;
  padding-left: 25px;
}

.order-info-content {
  table-layout: fixed;
}

.width {
  width: 100%;
}

.pay-btn {
  border: none;
  background: #2563ea;
  line-height: 2em;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  width: calc(100% - 50px);
}

.pay-btn:hover {
  opacity: 0.8;
  color: #eee;
  transition: all 0.2s ease;
}

.total {
  margin-top: 25px;
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  right: 27px;
  left: 35px;
}

.dense {
  line-height: 1.2em;
  font-size: 16px;
  font-size: 1rem;
}

.input-field {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  margin-top: 3px;
  line-height: 1.5em;
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 7px 10px;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

input:focus,
select:focus {
  outline-color: #2563ea;
}

.dropdown-select:focus {
  border: 1px solid #ccc;
}

.credit-info {
  height: 100%;
  width: 50%;
  color: #eee;
  justify-content: center;
  font-size: 0.9rem;
  display: flex;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: relative;
}

#list {
  font-size: 13px;
  text-align: center;
}

.credit-card-image {
  display: block;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 30px;
}

.credit-info-content {
  margin-top: 25px;
  flex-flow: column;
  display: flex;
  width: 100%;
}

#word {
  font-size: 13px;
  color: black;
}

@media (max-width: 600px) {
  .wrapper {
    width: 90%;
    height: 95%;
    display: block;
    border-radius: 7px;
  }

  .window {
    height: 930px;
  }

  .order-info {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .credit-info {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
  }
  .pay-btn {
    border-radius: 0px;
  }
}
