body {
    height: 400px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "system-ui", "Helvetica", sans-serif;
    width: 600px;
}

.block {
    border: 1px solid #eee;
    width: 550px;
    height: 360px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: white;
    position: fixed;
    height: 360px;
    overflow: auto;
    border-right: 1px solid #eee;
}

.logo{
    display: block;
    width: 100px;
    padding: 10px 8px;
    margin: 2px 0px 15px 10px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: #9BA0A9;
    padding: 6px 12px;
    text-decoration: none;
    margin: 5px 8px 0px 8px;
}


.sidebar a.active {
    background-color: #FFE0D9;
    color: #e64626;
    font-weight: 500;
    border-radius: 8px;
}

.sidebar a:hover:not(.active) {
    background-color: #F7F9FA;
    border-radius: 8px;
    color: #000;
}

div.content {
    margin-left: 160px;
    padding: 1px 16px;
    height: 360px;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}