html {
  font-family: "Inter", sans-serif;
  background-color: #1d1d1d;
}

body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #1d1d1d;
  margin: 0;
}

.wrapper {
  width: 450px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
}

.collapsed {
  width: calc(100% - 30px);
  height: 45px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: rgb(249, 115, 22, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.collapsed:hover {
  background-color: rgb(249, 115, 22, 0.5);
}

.collapsed p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(155, 65, 0);
}

.collapsed .icon {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.collapsed svg {
  fill: rgb(155, 65, 0);
}

.expanded {
  padding: 15px;
  margin-top: 8px;
  width: calc(100% - 30px);
  font-size: 15px;
  line-height: 22px;
  border-radius: 10px;
  color: rgb(107, 114, 128);
  background-color: rgba(211, 211, 211, 0.3);
}

.image1,
.image2 {
  margin-bottom: 12px;
  height: 300px;
  overflow: hidden;
  position: relative;
  user-select: none;
  border-radius: 10px;
}

.image1 img {
  width: 100%;
  position: absolute;
  top: -30px;
}

.image2 img {
  height: 100%;
  position: absolute;
}

.cta {
  width: 120px;
  height: 35px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 7px;
  background-color: rgb(249, 115, 22);
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.cta:hover {
  background-color: rgb(249, 115, 22, 0.8);
}

.cta:active {
  background-color: rgb(249, 116, 22);
}

/* ------------------------------------------- */

.hidden {
  display: none !important;
}

.rotate {
  transform: rotate(0deg) !important;
}
