html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    height: 300px;
}

.container {
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.select_box {
    position: absolute;
    left: 0;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    padding: 5px 10px;
    border: #C7CBD2 1px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.select_group {
    position: absolute;
    left: 0;
    top: 35px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    border: #D5D6D9 1px solid;
    padding-top: 5px;
    border-radius: 5px;
}

.option {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 50px 10px 10px;
    cursor: pointer;
}

.option svg {
    margin-right: 10px;
}

.option:hover {
    background: #F0F1F4;
    width: 100%;
}

svg {
    width: 15px;
    height: 15px;
}
