* {
  font-family: 'system-ui', 'Helvetica', sans-serif;
}

body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 600px;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 8px 14px;
  margin-top: 8px;
  margin-bottom: 18px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid rgb(209 213 219);
  outline: 1px solid transparent;
  color: rgb(17 24 39);
}

input[type='password']::placeholder {
  all: unset;
  color: #949595;
}

.term input[type='checkbox'] {
  vertical-align: middle;
}

label[for='term'] {
  color: #949595;
  font-size: 13px;
  display: flex;
}

button {
  width: 110px;
  height: 40px;
  border-radius: 8px;
  background-color: #e64626;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-size: 12px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: darkred;
}

.open {
  padding: 14px 20px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.topic {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 20px;
  font-weight: 700;
}

label[for='remember'] {
  color: #949595;
  font-size: 13px;
  vertical-align: middle;
}

.container {
  padding: 20px 18px 30px 20px;
}

span.hint {
  color: #949595;
  font-size: 13px;
}

.signup {
  margin-bottom: 18px;
  margin-top: 18px;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 15px;
  max-width: 500px;
}

b {
  font-size: 13px;
  font-weight: 500;
}

input[type='email']:focus,
input[type='password']:focus {
  outline-width: 0;
  border: 1px solid #e64626;
  outline: 1px solid #e64626;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.hint {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
