
body {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style the checkbox container */
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 25px;  /* Decreased padding */
  cursor: pointer;
  font-size: 18px;  /* Decreased font size */
  user-select: none;
  color: #666;
}

/* Hide the native checkbox */
.checkbox-container .custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox appearance */
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;  /* Decreased height and width */
  width: 18px;
  background-color: #ccc;
  border: 2px solid #444;  /* Thinner border */
  border-radius: 3px;  /* Slightly rounded corners */
}

/* Style for the checkbox when it's checked */
.checkbox-container .custom-checkbox:checked ~ .checkmark {
  background-color: #f97316;
}

/* Create the checkmark icon for checked state */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container .custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;  /* Adjusted position */
  top: 3px;  /* Adjusted position */
  width: 6px;  /* Thinner checkmark */
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;  /* Thinner checkmark */
  transform: rotate(45deg);
} 