body {
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    font-family: 'system-ui', 'Helvetica', sans-serif;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.checkbox {
    width: 16px;
    height: 16px;
    background: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
}


/* When checkbox is focused */

.checkbox:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fbede2;
}

.checkbox:checked {
    background-color: #e64626;
    border-color: #e64626;
}

.checkbox:checked:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    width: 6px;
    height: 3px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.checkbox-label {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #1f2937;
}

.dark .checkbox {
    background: #374151;
    border-color: #4b5563;
}

.dark .checkbox:focus {
    box-shadow: 0 0 0 2px #2563eb;
}

.dark .checkbox-label {
    color: #d1d6dc;
}