/* 为移动端定义 textarea 样式 */
.mobile-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* 允许垂直调整大小 */
  box-sizing: border-box;
  border: 1px solid #ccc; /* 添加一个简单的边框 */
  border-radius: 8px;     /* 为 textarea 添加圆角 */
  outline: none;          /* 移除默认的焦点轮廓 */
  transition: border-color 0.3s; /* 添加一个过渡效果，使颜色变化更加平滑 */
}

.mobile-textarea:focus {
  border-color: #007BFF;  /* 当 textarea 获得焦点时，改变边框颜色 */
}
