html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert_box {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #EDF9E6;
}

.success {
    font-size: 12px;
    font-weight: bold;
    color: #58BA2D;
}

.description {
    font-size: 8px;
    color: #58BA2D;
}

