*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  #6d6d6d;
    width: 35px;
    height: 35px;
    border-radius: 5px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    border-radius: 6px;
    background-color: #6d6d6d;
    color: #fefefe;
    text-align: center;
    padding: 6px 10px;

    position: absolute;
    z-index: 1;
    left: 150%;

    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: transparent #6d6d6d transparent transparent;
    left: -5px; 
    bottom: 9px; 
}

  .tooltip:hover .tooltiptext {
    opacity: 1;
  }

  .tooltip:hover {
    cursor: pointer;
  }