* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'system-ui', 'Helvetica', sans-serif;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #424242;
}

/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

#desktop-nav {
  background-color: black;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-links {
  gap: 32px;
  list-style: none;
  font-size: 19.2px;
}

.nav-links li a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 8px;
  text-decoration-color: white;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 16px;
  text-decoration-color: white;
}

#logo_name:hover {
  text-decoration: none;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  color: white;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  cursor: pointer;
}

.menu-links {
  position: absolute;
  top: 200%;
  right: -120%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
}

.menu-links ul {
  background-color: black;
  border-radius: 15px;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.menu-links a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 8px;
  text-decoration-color: white;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

/* SECTIONS */

section {
  padding-top: 150px;
  padding-bottom: 180px;
  height: 96%;
  margin: 0 160px;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 85%;
  padding-top: 230px;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  margin-bottom: 10px;
}

.section__text__p2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.title {
  font-size: 48px;
  text-align: center;
  color: rgb(17 24 39);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 32px;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  width: 110px;
  height: 40px;
  border-radius: 8px;
  background-color: #e64626;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: white;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: darkred;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 32px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 15px;
}

.arrow {
  position: absolute;
  right: -80px;
}

.details-container {
  padding: 40px;
  flex: 1;
  border-radius: 15px;
  text-align: center;
  border: rgb(53, 53, 53) 2px solid;
  border-color: rgb(163, 163, 163);
}

.section-container {
  gap: 64px;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

h3 {
  margin-bottom: 16px;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 32px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
}

article {
  display: flex;
  width: 160px;
  justify-content: space-around;
  gap: 8px;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.details-container.color-container:hover {
  background-color: rgb(240, 240, 240);
}

.color-container {
  border-color: rgb(163, 163, 163);
}

.project-img {
  border-radius: 15px;
  width: 76%;
  height: 76%;
}

.project-title {
  margin: 16px;
  color: black;
}

/* CONTACT */

#contact {
  height: fit-content;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px;
  cursor: pointer;
}

.contact-info-container p {
  font-size: larger;
}

.contact-info-container p a {
  color: black;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 40px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 97%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  resize: vertical;
}

label {
  padding: 10px 12px 10px 0;
  display: inline-block;
  font-size: 13px;
}

.message-btn {
  float: right;
}

#country {
  padding: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

#name:focus,
#message:focus,
#subject:focus,
#email:focus {
  outline-width: 0;
  border: 1px solid #e64626;
  outline: 1px solid #e64626;
}

.row {
  margin-bottom: 16px;
}

/* FOOTER SECTION */

footer {
  background-color: #e64626;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer p {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

footer nav {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  section {
    padding-top: 130px;
  }
  #profile {
    height: 83%;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  #profile {
    padding-top: 180px;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 32px;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 32px;
    justify-content: center;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding-top: 130px;
  }
  .menu-links {
    right: -90%;
  }
  .menu-links ul a {
    font-size: 12.8px;
  }
  footer {
    margin-top: 16px;
    height: 25%;
  }
  #profile {
    height: 83%;
    margin-bottom: 0;
    padding-top: 250px;
  }
  article {
    font-size: 16px;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 16px;
  }
  .experience-sub-title {
    font-size: 20px;
  }
  .logo {
    font-size: 24px;
  }
  .nav-links {
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin-top: 10px;
  }
  .section__pic-container {
    width: auto;
    height: 251.34px;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 20px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .text-container {
    text-align: justify;
  }
  .col-25,
  .col-75,
  .message-btn {
    width: 100%;
    margin-top: 0;
  }
  input[type='text'],
  input[type='email'],
  textarea {
    width: 95%;
  }
  footer p {
    margin-bottom: 10px;
  }
}
