html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert_box {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 12px;
}

svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.title_line {
    display: flex;
    flex-direction: row;
    font-weight: 450;
}

.description {
    font-weight: 350;
}

ul {
    margin: 0;
    padding: 0 15px;
}

.error {
    color: #840E15;
    background-color: #FDEEEE;
}

