*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    backdrop-filter: blur(4px) saturate(100%);
    border: 3px solid black;
}

.search-bar input{
    background: transparent;
    padding: 10px;
    flex: 1;
    border: 0;
    outline: none;
    color: #050506;
}


::placeholder{
    color: #1d1d1d;
    font-size: 10px;
}

.search-bar button img{
    width: 17px;
}

.search-bar button{
    border: 0;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    background: white;
    cursor: pointer;
    border: 3px solid #000;
}