body {
    height: 400px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "system-ui", "Helvetica", sans-serif;
}

.block {
    border: 1px solid #eee;
    width: 100%;
    height: 360px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: white;
    position: fixed;
    height: 360px;
    overflow: auto;
    border-right: 1px solid #eee;
}

.logo{
    display: block;
    width: 75px;
    padding: 10px 8px;
    margin: 2px 0px 10px 8px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: #9BA0A9;
    padding: 10px;
    text-decoration: none;
    margin: 5px 4px 0px 4px;
}

.sidebar a.active {
    background-color: #FFE0D9;
    color: #e64626;
    font-weight: 500;
    border-radius: 8px;
}

.sidebar a:hover:not(.active) {
    background-color: #F7F9FA;
    border-radius: 8px;
    color: #000;
}

div.content {
    margin-left: 160px;
    padding: 1px 16px;
    height: 360px;
}
