body {
    height: 400px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.block {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 100%;
    height: 360px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: white;
    position: fixed;
    height: 360px;
    overflow: auto;
    border-right: 1px solid #eee;
}

.logo{
    display: block;
    width: 75px;
    padding: 10px 8px;
    margin: 2px 0px 10px 8px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    margin: 2px 8px 0px 8px;
}

.sidebar a.active {
    background-color: #F7F9FA;
    color: #504AED;
    border-radius: 5px;
}

div.content {
    margin-left: 160px;
    padding: 1px 16px;
    height: 360px;
}
