body {
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    font-family: "system-ui", "Helvetica", sans-serif;
    background-color: #fff;
}
.panel{
    width: 300px;
    color: #fff;
    background-color: #00703C;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}
.panel_title{
    margin: 0 0 10px;
    font-size: 24px;
}
.panel_body{
    font-size: 16px;
}